# Maven
target/
*.class

# IDE
.idea/
*.iml
.vscode/

# Variables de entorno y configuraciones locales privadas
.env
*.env
application-local.properties
src/main/resources/application-local.properties

# Uploads locales
src/main/resources/static/uploads/
